/*
* File: page.module.css
* Description: Styles for the homepage.
* Author: Ahmed Almoune
* Date: 5/3/2026
*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 100dvh;
  padding-inline: 5vw;
  font-family: var(--font-geist-sans);
  font-size: small;
}

.buildForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  gap: 10px;
  box-shadow: 4px 6px 0px #0000001a;
  border: 2px solid #6b6767e1; 
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 30px;
}

.optionsCard {
  cursor: pointer;
  max-width: 500px; /* Note: maybe delete */
}
.optionsCard:hover {
  background-color: var(--hover-color);
}

.growOnHover {
  transition: transform 0.2s;
}
.growOnHover:hover {
  transform: scale(1.04);
}

.lightScrollbar::-webkit-scrollbar {
  width: 10px;
}
.lightScrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
.lightScrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}
/* Firefox */
.lightScrollbar {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
} 
